* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

/* navigation */
nav {
    position: relative;
    display: flex;
    gap:30px;
    background: #222327;
    padding:0px 60px;
}
nav a {
    position:relative;
    color:#999;
    text-decoration: none;
    font-size: 1.5em;
    z-index: 2;
    height:65px;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s;
}
#indicator {
    background: #29fd53;
    width: 150px;
    z-index: 1;
    transition: 0.5s;
}
#indicator::before {
    content: '';;
    position: absolute;
    left:-30px;
    width: 50px;
    height: 15px;
    background: #29fd53;
    border-radius: 15px;
    box-shadow: 15px 30px #29fd53,
    5px 60px #29fd53,
    -15px 15px #222327,
    -10px 45px #222327;
    transition: 0.5s;
}
#indicator::after {
    content: '';;
    position: absolute;
    right: -30px;
    width: 50px;
    height: 15px;
    background: #29fd53;
    border-radius: 15px;
    box-shadow: 5px 30px #29fd53,
    -15px 60px #29fd53,
    15px 15px #222327,
    10px 45px #222327;
    transition: 0.5s;
}

/* header */
/* slideshow */
.wrapper {
    max-width: 1000px;
    width: 100%;
    position: absolute;
    right: 25px;
    top: 25px;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 150px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }


/* body */
/* mikyway */
.containers {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}
.suns {
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: #fdb813;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}
.earths,
.moons {
    position: absolute;
    border-style: solid;
    border-color: white transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.earths {
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}
.moons {
    top:0;
    right:0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}
.earths::before,
.moons::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.earths::before {
  top:2.8em;
  right: 2.8em;
  width: 3em;
  height: 3em;
  background-color: #34a56f;
}
.moons::before {
  top: 0.8em;
  right:0.2em;
  width:1.2em;
  height: 1.2em;
  background-color:  #f6f1d5;
}
@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}

/* card */
.containerB {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}
.cardB {
    position: relative;
    width: 200px;
    height: 300px;
    margin:30px;
    background: #287bff;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 #fff,
    inset 0 -15px 0 rgba(255,255,255,0.25),
    0 45px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.cardB::before {
    content: '';
    position:absolute;
    top:-140px;
    left:-40%;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}
.cardB:nth-child(1) {
    background: linear-gradient(to bottom, #ff2ae0,#645bf6);
}
.cardB:nth-child(2) {
    background: linear-gradient(to bottom, #ffec61,#f321d7);
}
.cardB:nth-child(3) {
    background: linear-gradient(to bottom, #24ff72,#9a4eff);
}
.iconB {
    position: relative;
    width: 140px;
    height: 120px;
    background: black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1),
    inset 0 -8px 0 #fff;
    z-index: 1000;
}
.iconB::before {
    content: '';
    position: absolute;
    top:0;
    left:-50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px black;
}
.iconB::after {
    content: '';
    position: absolute;
    top:0;
    right:-50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -15px -15px 0 15px black;
}
.contentB {
    position: absolute;
    width: 100%;
    padding:30px;
    padding-top: 140px;
    text-align: center;
}

.contentB h2 {
    font-size: 1.75em;
    color:#fff;
    margin-bottom: 10px;
}
.contentB p {
    color:#fff;
    line-height: 1.5em;
}

/* layout 2 */
::selection{
  background: rgba(23,162,184,0.3);
}
.wrapper3{
  max-width: 100%;
  width: 100%;
  padding: 25px 30px 30px 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper3 header{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}
.wrapper3 nav{
  position: relative;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
}
.wrapper3 nav label{
  display: block;
  height: 100%;
  width: auto;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #17a2b8;
  font-size: 17px;
  margin:auto 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.wrapper3 nav label:hover{
  background: rgba(23,162,184,0.3);
}
#home3:checked ~ nav label.home3,
#blog3:checked ~ nav label.blog3,
#code3:checked ~ nav label.code3,
#help3:checked ~ nav label.help3,
#about3:checked ~ nav label.about3{
  color: #fff;
}
nav label i{
  padding-right: 7px;
}
nav .slider3{
  position: absolute;
  height: 100%;
  width: 20%;
  opacity: 0.6;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 5px;
  background: #17a2b8;
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#blog3:checked ~ nav .slider3{
  left: 20%;
}
#code3:checked ~ nav .slider3{
  left: 40%;
}
#help3:checked ~ nav .slider3{
  left: 60%;
}
#about3:checked ~ nav .slider3{
  left: 80%;
}
section .content3{
  display: none;
  background: #fff;
}
#home3:checked ~ section .content-1_3,
#blog3:checked ~ section .content-2_3,
#code3:checked ~ section .content-3_3,
#help3:checked ~ section .content-4_3,
#about3:checked ~ section .content-5_3{
  display: block;
}
section .content3 .title3{
  font-size: 21px;
  font-weight: 500;
  margin: 30px 0 10px 0;
}
section .content3 p{
text-align: justify;
}

/* layout 3 */
.containerbr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:40px 0;
  flex-wrap: wrap;
}
.containerbr .boxbr {
  position: relative;
  width: 250px;
  height: 300px;
  color:#fff;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px 30px;
  transition: 0.5s;
}
.containerbr .boxbr:hover {
  transform: translateY(-20px);
}
.containerbr .boxbr::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}
.containerbr .boxbr::after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}
.containerbr .boxbr:nth-child(2)::before,
.containerbr .boxbr:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
.containerbr .boxbr:nth-child(3)::before,
.containerbr .boxbr:nth-child(3)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}
.containerbr .boxbr span {
  position: absolute;
  top:6px;
  left:6px;
  right:6px;
  bottom:6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.containerbr .boxbr span::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.containerbr .boxbr .contentbr {
  position: relative;
  z-index: 10;
  padding:20px 40px;
}
.containerbr .boxbr .contentbr h2 {
  font-size:  2em;
  color:#fff;
  margin-bottom: 10px;
}
.containerbr .boxbr .contentbr p {
  font-size:  1.1em;
  color:#fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}
.containerbr .boxbr .contentbr a {
  display: inline-block;
  font-size: 1.1em;
  color:#111;
  background: #fff;
  padding:10px;
  text-decoration: none;
  font-weight: 700;
}

/* cloud */
.containerara {
  position: relative;
  height:400px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent,
  transparent,transparent, #0005);
}
.clouds {
  position: relative;
  top:50px;
  width:320px;
  height:100px;
  background: #fff;
  border-radius: 100px;
  z-index: 100;
  filter:drop-shadow(0 0 35px #fff);
}
.clouds::before {
  content:'';
  position: absolute;
  top:-50px;
  left:40px;
  width:110px;
  height:110px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 90px 0 0 30px #fff;
}
.text {
  position: absolute;
  top:40px;
  height:20px;
  line-height: 20px;
  text-transform: uppercase;
  color:#fff;
  text-shadow: 0 0 5px #fff,
  0 0 15px #fff,
  0 0 30px #fff;
  transform-origin: bottom;
  animation: animates 2s linear forwards;
}
@keyframes animates {
  0%{
      transform: translateY(0) scale(1);
  }
  70%{
      transform: translateY(290px) scale(1);
  }
  100% {
      transform: translateY(290px) scale(0);
  }
}

/* layout 4 */
.containerabba{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  padding:40px 0;
}
.containerabba .boxabba {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:40px 30px;
  transition: 0.5s;
}
.containerabba .boxabba::before {
  content: '';
  position: absolute;
  top:0;
  left:50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}
.containerabba .boxabba::after {
  content: '';
  position: absolute;
  top:0;
  left:50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
  transition: 0.5s;
}
.containerabba .boxabba:hover:before,
.containerabba .boxabba:hover:after {
  transform: skewX(0deg);
  left:20px;
  width: calc(100% - 90px);
}
.containerabba .boxabba:nth-child(1):before,
.containerabba .boxabba:nth-child(1):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}
.containerabba .boxabba:nth-child(2):before,
.containerabba .boxabba:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
.containerabba .boxabba:nth-child(3):before,
.containerabba .boxabba:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}
.containerabba .boxabba span {
  display: block;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}
.containerabba .boxabba span::before {
  content:'';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.containerabba .boxabba:hover span::before {
  top:-50px;
  left:50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}
.containerabba .boxabba span::after {
  content:'';
  position: absolute;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  animation-delay: -1s;
}
.containerabba .boxabba:hover span::after {
  bottom:-50px;
  right:50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}
@keyframes animate {
  0%, 100% {
      transform: translateY(10px);
  }
  50% {
      transform: translateY(-10px);
  }
}
.containerabba .boxabba .contentabba {
  position: relative;
  left:0;
  padding:20px 40px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 1;
  transition: 0.5s;
  color:#fff;
}
.containerabba .boxabba:hover .contentabba {
  left:-25px;
  padding:60px 40px;
}
.containerabba .boxabba .contentabba h2 {
  font-size: 2em;
  color:#fff;
  margin-bottom: 10px;
}
.containerabba .boxabba .contentabba p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}
.containerabba .boxabba .contentabba a {
  display: inline-block;
  font-size: 1.1em;
  color:#111;
  background: #fff;
  padding:10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

/* layout 5 */
/* khối vuông xoay */
.cubeabc {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation:animatea 8s linear infinite;
}
@keyframes animatea {
  0%{
      transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
      transform: rotateX(-30deg) rotateY(360deg);
  }
  
}
.cubeabc div{
  position: absolute;
  top:50%;
  left:30%;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
}
.cubeabc div span{
  position: absolute;
  top:0;
  left:0;
  width: 150px;
  height: 150px;
  background: linear-gradient(#151515, #00ec00);
  transform: rotateY(calc(90deg * var(--i)))
  translateZ(75px);
}
.topabc{
  position: absolute;
  top:0;
  left:0;
  width: 150px;
  height: 200px;
  background: #222;
  transform: rotateX(90deg) translateZ(70px);
}
.topabc::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 150px;
  height: 150px;
  background: #0f0;
  transform: translateZ(-200px);
  filter:blur(20px);
  box-shadow: 0 0 120px rgba(0, 255,0,0.2),
  0 0 200px rgba(0, 255,0,0.4),
  0 0 300px rgba(0, 255,0,0.6),
  0 0 400px rgba(0, 255,0,0.8),
  0 0 500px rgba(0, 255,0,1);
}

/* block */
.containerads {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:80px;
  flex-wrap: wrap;
}
.containerads .cardads {
  position: relative;
  width: 250px;
  height: 300px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerads .cardads .contentads {
  position: absolute;
  inset:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  gap:10px;
  transition-delay: 0s;
  transition: 0.5s;
  opacity: 0;
}
.containerads .cardads:hover .contentads{
  opacity: 1;
  transition-delay: 0.5s;
}
.containerads .cardads .contentads h2 {
  font-weight: 600;
  letter-spacing: 0.1em;
  color:var(--clr);
}
.containerads .cardads .contentads p {
  text-align: center;
  color:#fff;
}
.containerads .cardads .contentads a {
  color:#fff;
  background: var(--clr);
  padding:10px 15px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.containerads .cardads .imgBxads,
.containerads .cardads .textBxads {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.containerads .cardads .imgBxads {
  background: #fff;
  height: 120px;
  z-index: 1;
  transform-origin: bottom;
}
.containerads .cardads:hover .imgBxads {
  transform: translateY(-100%) rotateX(90deg);
}
.containerads .cardads .textBxads {
  height: 280px;
  background: var(--clr);
  border-top: 8px solid #333;
  transform-origin: top;
  transition-delay: 0.5s;
  align-items: flex-end;
  overflow: hidden;
}
.containerads .cardads:hover .textBxads {
  transform: translateY(100%) rotateX(90deg);
}
.containerads .cardads .textBxads h2 {
  color: #222;
  font-size: 1.25em;
  letter-spacing: 0.15em;
  font-weight: 500;
  text-transform: uppercase;
  background: #fff;
  padding:5px 25px;
  box-shadow: 0 0 0 8px #333;
}
.containerads .cardads .imgBxads::before {
  content: '';
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 144px;
  height: 74px;
  background: #fff;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: 1;
}
.containerads .cardads .imgBxads img {
  position: relative;
  top:50px;
  z-index: 1000;
}
.containerads .cardads .textBxads::before {
  content:'';
  position: absolute;
  top:-8px;
  width: 160px;
  height: 80px;
  background: #333;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

/* layout 6 */
.containerer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:80px
}
.containerer .carder {
  position: relative;
  width: 250px;
  height: 300px;
  background: var(--clr);
  border-radius: 20px;
  border-top-left-radius: 70px;
  overflow: hidden;
}
.containerer .carder .boxer {
  position: absolute;
  inset:10px;
  background: #282828;
  border-radius: 10px;
}
.containerer .carder .boxer .iconer {
  position: absolute;
  width: 140px;
  height: 140px;
  background: var(--clr);
  border-bottom-right-radius: 50%;
  transition: 0.5s;
}
.containerer .carder:hover .boxer .iconer {
  width: 100%;
}
.containerer .carder .boxer .iconer::before {
  content: '';
  position:absolute;
  bottom:-30px;
  left:0;
  width: 30px;
  height: 30px;
  background: transparent;
  border-top-left-radius: 30px;
  box-shadow: -5px -5px 0 5px var(--clr);
}
.containerer .carder .boxer .iconer::after {
  content: '';
  position:absolute;
  top:0;
  right:-30px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-top-left-radius: 30px;
  box-shadow: -5px -5px 0 5px var(--clr);
}
.containerer .carder .boxer .iconer .iconBoxer {
  position: absolute;
  inset:10px;
  background: #282828;
  border-radius: 50%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.containerer .carder .boxer .contenter {
  position: absolute;
  top:150px;
  padding: 20px;
  text-align: center;
}
.containerer .carder .boxer .contenter h3 {
  color:#fff;
  font-size: 1.35em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}
.containerer .carder .boxer .contenter p {
  color:#fff;
  font-size: 0.95em;
  opacity:0.75em;
  margin: 0 0 10px;
}
.containerer .carder .boxer .contenter a {
  background: var(--clr);
  display: inline-block;
  padding:10px 25px;
  text-decoration: none;
  color:#333;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 30px;
  transition: 0.5s;
}
.containerer .carder .boxer .contenter a:hover {
  letter-spacing: 0.2em;
}

/* slide show 3d */
.boxadd {
  position: relative;
  width: 200px;
  height:200px;
  transform-style: preserve-3d;
  transition: 1.5s;
  transform: perspective(1000px) rotateY(0deg);
}
.boxadd span {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
  --webkit-box-reflect: below 0px linear-gradient(transparent,
  transparent, #00d0ff);
}
.boxadd span h2 {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
  user-select: none;
}
.btnsadd {
  position: absolute;
  bottom:100px;
  display: flex;
  gap:30px;
}
.btnsadd .btnadd {
  position: relative;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btns .btn:active {
  background: #fff;
}
.btnsadd .btnadd::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg) translate(-2.5px, 2.5px);
}
.btnsadd .btnadd.prevadd::before {
  transform: rotate(225deg) translate(-2.5px, 2.5px);   
}
.btnsadd .btnadd:active::before {
  border-top: 3px solid #000;
  border-right: 3px solid #000;
}

/* time line */
html{
  scroll-behavior: smooth;
}
body{
  background: #ff7979;
}
::selection{
  color: #fff;
  background: #ff7979;
}
.wrapperabv{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapperabv .center-lineabv{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapperabv .rowabv{
  display: flex;
}
.wrapperabv .row-1abv{
  justify-content: flex-start;
}
.wrapperabv .row-2abv{
  justify-content: flex-end;
}
.wrapperabv .rowabv section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapperabv .rowabv section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.rowabv section .iconabv,
.center-lineabv .scroll-iconabv{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-lineabv .scroll-iconabv{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1abv section .iconabv{
  top: 15px;
  right: -60px;
}
.row-2abv section .iconabv{
  top: 15px;
  left: -60px;
}
.rowabv section .detailsabv,
.rowabv section .bottomabv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rowabv section .detailsabv .titleabv{
  font-size: 22px;
  font-weight: 600;
}
.rowabv section p{
  margin: 10px 0 17px 0;
}
.rowabv section .bottomabv a{
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.rowabv section .bottomabv a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapperabv .center-lineabv{
    left: 40px;
  }
  .wrapperabv .rowabv{
    margin: 30px 0 3px 60px;
  }
  .wrapperabv .rowabv section{
    width: 100%;
  }
  .row-1abv section::before{
    left: -7px;
  }
  .row-1abv section .iconabv{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapperabv .center-lineabv,
  .rowabv section::before,
  .rowabv section .iconabv{
    display: none;
  }
  .wrapperabv .rowabv{
    margin: 10px 0;
  }
}

/* FAQ */
::selection{
  background: #7d2ae8;
  color: #fff;
}
.accordion{
  display: flex;
  max-width: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 25px;
  padding: 45px 90px 45px 60px;
}
.accordion .image-box{
  height: 360px;
  width: 300px;
}
.accordion .image-box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.accordion .accordion-text{
  width: 60%;
}
.accordion .accordion-text .title{
  font-size: 35px;
  font-weight: 600;
  color: #7d2ae8;
  font-family: 'Fira Sans', sans-serif;
}
.accordion .accordion-text .faq-text{
  margin-top: 25px;
  height: 263px;
  overflow-y: auto;
}
.faq-text::-webkit-scrollbar{
  display: none;
}
.accordion .accordion-text li{
  list-style: none;
  cursor: pointer;
}
.accordion-text li .question-arrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-text li .question-arrow .question{
  font-size: 18px;
  font-weight: 500;
  color: #595959;
  transition: all 0.3s ease;
}
.accordion-text li .question-arrow .arrow{
  font-size: 20px;
  color: #595959;
  transition: all 0.3s ease;
}
.accordion-text li.showAnswer .question-arrow .arrow{
  transform: rotate(-180deg);
}
.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow{
  color: #7d2ae8;
}
.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow{
  color: #7d2ae8;
}
.accordion-text li .line{
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}
.accordion-text li p{
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: #595959;
  display: none;
}
.accordion-text li.showAnswer p{
  display: block;
}

@media (max-width: 994px) {
  body{
    padding: 40px 20px;
  }
  .accordion{
    max-width: 100%;
    padding: 45px 60px 45px 60px;
  }
  .accordion .image-box{
    height: 360px;
    width: 220px;
  }
  .accordion .accordion-text{
    width: 63%;
  }
}
@media (max-width: 820px) {
  .accordion{
    flex-direction: column;
  }
  .accordion .image-box{
    height: 360px;
    width: 300px;
    background: #7d2ae8;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
  }
  .accordion .accordion-text{
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 538px) {
  .accordion{
    padding: 25px;
  }
  .accordion-text li p{
    width: 98%;
  }
}

/* footer */
.footer {
  max-width: 100%;
  width: 100%;
  background: #10182F;
  border-radius: 6px;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover  {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}