# Định cấu hình trang lỗi
ErrorDocument 400 /templates/404.php
ErrorDocument 401 /templates/404.php
ErrorDocument 403 /templates/404.php
ErrorDocument 404 /templates/404.php
ErrorDocument 500 /templates/404.php